#mapsvg-map-1 {
    .mapsvg-header {
        .mapsvg-filters-wrap {
            margin-bottom: 20px;
            .mapsvg-controller-view {
                .mapsvg-controller-view-wrap {
                    .mapsvg-controller-view-content {
                        .mapsvg-form-builder {
                            .mapsvg-data-form-view {
                                .form-group:first-of-type {
                                    flex-basis: 90%!important;
                                }
                                .form-group {
                                    max-height: none;
                                    margin: 0;
                                    .mapsvg-filter-label {
                                        display: none;
                                    }
                                    .mapsvg-directory-search-wrap-margin {
                                        background: $lgrey;
                                        padding: 10px;
                                        border-radius: 200px;
                                        position: relative;
                                        height: auto;
                                        .mapsvg-directory-search {
                                            position: relative;
                                            padding: 15px 60px 15px 30px !important;
                                            height: auto;
                                            border-radius: 100px;
                                            min-height: 0;
                                            appearance: none;
                                            display: block;
                                            margin: auto;
                                            border: solid 1px $grey;
                                            width: 100%;
                                            font-size: 18px!important;
                                            font-weight: 300!important;
                                            line-height: 30px!important;
                                            &::placeholder {
                                                color: $drk;
                                            }
                                            &:focus, &:active {
                                                border-color: $drk!important;
                                                color: $black!important;
                                            }
                                        }
                                    }
                                    &.mapsvg-filters-reset-container {
                                        margin: 0 0 0 20px;
                                        align-self: center;
                                        @media (max-width:768px) {
                                            width: 100%;
                                            margin: 0 40px 0 0;
                                            justify-content: flex-end;
                                        }
                                        .mapsvg-filters-reset {
                                            background-color: transparent;
                                            color: $primary1;
                                            padding: 0;
                                            border: none;
                                            &:hover, &:active {
                                                color: $primary1;
                                                background-color: transparent;
                                                box-shadow: none;
                                            }
                                        }
                                    }	
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .mapsvg-wrap {
        padding-top: 50px;
        @media (max-width:768px) {
            padding-top: 20px;
        }
        .mapsvg-sidebar {
            .mapsvg-directory {
                background-color: $lgrey!important;
                @media (max-width: 767px) {
                    border-right: solid 1px #f0f0f0;
                    border-left: solid 1px #f0f0f0;
                    border-top: solid 1px #f0f0f0;
                    background: $white!important;
                }
                .mapsvg-controller-view {
                    .mapsvg-controller-view-wrap  {
                        .mapsvg-controller-view-content {
                            .mapsvg-directory-item {
                                font-family: 'Agency FB', sans-serif;
                                font-size: 20px;
                                letter-spacing: 1px;
                                font-weight: 600;
                                padding: 10px 20px;
                                -webkit-transition: all 0.2s ease-in-out;
                                   -moz-transition: all 0.2s ease-in-out;
                                   -ms-transition: all 0.2s ease-in-out;
                                   -o-transition: all 0.2s ease-in-out;
                                transition: all 0.2s ease-in-out;
                                font-weight: 600;
                                line-height: 1.6em;
                                color: $black;
                                border-bottom: solid 1px #f0f0f0;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                @media (min-width:767px) {
                                    max-width: 250px;
                                }
                                &:hover, &.hover, &.selected {
                                    background:$black!important;
                                    color: $white!important;
                                }
                            }
                        }
                    }
                }
            }
        }
        .mapsvg-map-container {
            .mapsvg {
                .mapsvg-tooltip {
                    padding: 5px 18px!important;
                    font-family: 'Agency FB', sans-serif;
                    font-size: 16px;
                    letter-spacing: 1px;
                    font-weight: 600;
                    line-height: 1.5em;
                    border: transparent;
                    background-color: $black;
                    color: $white;
                    border-radius: 100px;
                    white-space: nowrap;
                    font-weight: bold;
                    max-width: none!important;
                }
                .mapsvg-layers-wrap {
                    .mapsvg-marker {
                        @include ease2();
                    }
                    .mapsvg-marker-cluster {
                        background: $black;
                        color: $white;
                        border-color: rgba(255,255,255,0.3);
                        @include ease2();
                        &:hover {
                            color: $primary1;
                        }
                    }
                }
            }
        }
        .mapsvg-details-container {
            background: rgba(255,255,255,0.97);
            .mapsvg-controller-view {
                .mapsvg-controller-view-toolbar {
                    .mapsvg-popover-close.mapsvg-details-close {
                        transform: scale(.4);
                        &:hover::after, &:hover::before {
                            background: $black;
                            opacity: 1;
                        }
                    }
                }
            }
            .mapsvg-controller-view-wrap {
                .mapsvg-controller-view-content {
                    padding: 10%;
                    @media (max-width:980px) {
                        padding: 5%;
                    }
                    span {
                        color: $primary1;
                        margin-right: 5px;
                    }
                    a {
                        &:hover {
                            color: $primary1;
                        }
                    }
                    .name {
                        margin-bottom: 10px;
                    }
                    .location, .phone, .email, .website {
                        position: relative;
                        padding-left: 34px;
                        line-height: 1.5em;
                        margin-bottom: 15px;
                        color: $drk;
                        span {
                            position: absolute;
                            left: 0;
                            top: 1px;
                        }
                        a {
                            color: $drk;
                            &:hover {
                                color: $primary1;
                            }
                        }
                    }
                }
            }
        }
    }
    .mapsvg-mobile-buttons {
        background-color: $black!important;
        .mapsvg-button-menu, .mapsvg-button-map {
            border: solid 1px #f0f0f0;
            @include ease2();
            color: $white;
            .mapsvg-icon-menu {
                border: none!important;
            }
            &.active {
                background-color: $white!important;
                background: $white!important;
                color: $black!important;
                .mapsvg-icon-menu {
                    border: none!important;
                    color: $black!important;
                }
            }
            &:hover {
                background-color: $white!important;
                background: $white!important;
                color: $black!important;
                .mapsvg-icon-menu {
                    border: none!important;
                    color: $black!important;
                }
            }
        }
    }
}