// CHANGE HIGHLIGHT COLOUR
::-moz-selection { background: $black; color: $white; }
::selection { background: $black; color: $white; }
html {
    scroll-behavior: smooth;
}
.imgContain {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    .et_pb_image_wrap {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        img {
            object-fit: contain;
            height: 100%!important;
            width: 100%!important;
            position: absolute!important;
            transform-origin: center;
            object-position: center;
        }
    }
}
.imgCover {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    .et_pb_image_wrap {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        img {
            object-fit: cover;
            height: 100%!important;
            width: 100%!important;
            position: absolute!important;
            transform-origin: center;
            object-position: center;
        }
    }
}