////////////////////////////////////////////
// Variables
////////////////////////////////////////////
$white: #ffffff;
$black: #000000;
$primary1: #000000;
$drk: #64646c;
$grey: #c6c6c6;
$lgrey: #f9f9f9;
$red: #c0392b; 