/* ===========================
LOGIN PAGE
=========================== */
.login #login h1 a {
  background-image: url("/wp-content/uploads/2021/09/Engl-logo-black.svg") !important;
  background-size: contain;
  height: 75px;
  width: auto;
}

.grecaptcha-badge {
  visibility: hidden !important;
}