////////////////////////////////////////////
// Typography
////////////////////////////////////////////
@import 'typography';

////////////////////////////////////////////
// Variables & mixins
////////////////////////////////////////////
@import 'variables';
@import 'mixins';

/* ===========================
STYLES
=========================== */


// CHANGE GLOBAL ROW MAX WIDTH
#top-header > .container,
/*#main-header > .container,*/
#et_search_outer > .container,
body.single #main-content > .container,
body.page:not(.et-tb-has-template) div.et_pb_row,
body.page.et-tb-has-template .et-l--post div.et_pb_row,
body.single-project div.et_pb_row,
body.single-project div.et_pb_row.et_pb_row_fullwidth,
body.et-db #et-boc .et-l .et_pb_row {
    width: 90%; 
}
@import 'utilities';
body {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Agency FB', sans-serif;
    }
    h4, h5, h6 {
        letter-spacing: 1px;
    }
    .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;  /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
      
        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;
      
        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;
      
        /* Support for IE. */
        font-feature-settings: 'liga';

    }  
    .subHeader {
        h2 {
            padding-bottom: 0;
        }
    }
    .et_pb_button_module_wrapper .et_pb_button, .et_pb_button_module_wrapper .et_button_no_icon.et_button_icon_visible.et_button_left .et_pb_button, .et_button_no_icon .et_pb_button {
        font-family: 'Agency FB', sans-serif;
        padding: 0em 1em !important;
        &:hover {
            padding: 0em 1em !important;
        }
    }
    #page-container {
        @import 'header';
        font-weight: 300;
        #et-main-area {
            animation: bodyFadeIn 2s;
            @keyframes bodyFadeIn {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            .et_pb_text {
                &.twoCol {
                    .et_pb_text_inner {
                        @media (min-width: 768px) {
                            column-count: 2;
                            column-gap: 5%;
                            column-fill: balance;
                        }
                    }
                }
                a {
                    text-decoration: underline;
                    transition: text-decoration 0.4s linear;
                    cursor: pointer;
                    &:hover {
                        text-decoration: none;
                    }
                }
                ul {
                    li {
                        line-height: 1.6em;
                        margin-bottom: 5px;
                    }
                }
                ol {
                    list-style: none;
                    counter-reset: decimal;
                    position: relative;
                    margin-bottom: 30px;
                    li {
                        line-height: 1.6em;
                        margin-bottom: 5px;
                        counter-increment: decimal;
                        position: relative;
                        padding-left: 23px;
                        &::before {
                            position: absolute;
                            left: 0;
                            content: counters(decimal, ".") ". ";
                        }
                        &::marker {
                            display: none;
                        }
                        ol {
                            list-style: none;
                            padding-left: 0;
                            margin-bottom: 0;
                            li {
                                padding-left: 38px;
                                ol {
                                    margin-bottom: 0;
                                    li {
                                        padding-left: 53px;
                                    }
                                }
                            }
                        }
                        ul {
                            li {
                                padding-left: 0;
                                &::before {
                                    content: none;
                                }
                            }
                        }
                    }
                }
                &.et_pb_bg_layout_dark {
                    strong {
                        //font-weight: 600;
                        color: $white;
                    }
                }
            }
            .et_pb_button_module_wrapper .et_pb_button, .et_pb_button_module_wrapper .et_button_no_icon.et_button_icon_visible.et_button_left .et_pb_button, .et_button_no_icon .et_pb_button, .et_pb_contact_submit {
                font-family: 'Agency FB', sans-serif;
                padding: 0em 1em !important;
                &:hover {
                    padding: 0em 1em !important;
                }
            }
            /*.et_pb_column_4_4 {
                .et_pb_gallery_grid {
                    .et_pb_grid_item {
                        animation: none !important;
                        @media (min-width:981px) {
                            width: 22%;
                            margin: 0 4% 4% 0;
                            &:last-child {
                                margin: 0 0 4% 0;
                            }
                        }
                        @media (max-width:980px) {
                            width: 48%;
                            margin: 0 4% 4% 0;
                            &:nth-child(2) {
                                margin: 0 0 4% 0;
                            }
                            &:last-child {
                                margin: 0 0 4% 0;
                            }
                        }
                    }
                }
            }*/
            .socialIcons {
                img {
                    height: 40px;
                    opacity: 0.75;
                    transition: opacity 0.4s cubic-bezier(.2, .85, .32, 1.2);
                    &:hover {
                        opacity: 1;
                    }
                }
                display: flex;
                flex-wrap: nowrap;
                flex-direction: row;
                align-content: center;
                justify-content: space-between;
                align-items: stretch;
                gap: 20px;
                a {
                    display: flex;
                    align-items: center;
                }
            }
            #main-content {
                @media all and (max-width: 980px) {
                    /*** wrap row in a flex box ***/
                    .custom_row {
                        display: -webkit-box;
                        display: -moz-box;
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: flex;
                        -webkit-flex-wrap: wrap; /* Safari 6.1+ */
                        flex-wrap: wrap;
                    }
                    /*** custom classes that will designate the order of columns in the flex box row ***/
                    .first-on-mobile {
                        -webkit-order: 1;
                        order: 1;
                    } 
                    .second-on-mobile {
                        -webkit-order: 2;
                        order: 2;
                    }	 
                    .third-on-mobile {
                        -webkit-order: 3;
                        order: 3;
                    }	 
                    .fourth-on-mobile {
                        -webkit-order: 4;
                        order: 4;
                    }
                    /*** add margin to last column ***/
                    .custom_row:last-child .et_pb_column:last-child {
                        margin-bottom: 30px;
                    }	 
                }
                /*.et_pb_section:last-child {
                    padding-bottom: 150px;
                }*/
                @import 'table';
                @import 'mapsvg';
                .cwp_et_pb_layout_slider_standard {
                    .swiper-container {
                        .swiper-wrapper {
                            .swiper-slide {
                                .et_pb_section {
                                    &::before {
                                        transition: transform 0.2s ease;
                                        transform: scale(1.7);
                                    }
                                }
                                .et_pb_button {
                                    padding: 0em 1em !important;
                                    &:hover {
                                        padding: 0em 1em !important;
                                    }
                                }
                                &.swiper-slide-active {
                                    .et_pb_section {
                                        .et_pb_column {
                                            animation: textAnimate 2s;
                                            @keyframes textAnimate {
                                                0% {
                                                    opacity: 0;
                                                }
                                                50% {
                                                    opacity: 0;
                                                }
                                                100% {
                                                    opacity: 1;
                                                }
                                            }
                                        }
                                        &::before {
                                            transform: scale(1.7);
                                            animation: coneAnimate 1.5s;
                                            @keyframes coneAnimate {
                                                0% {
                                                    transform: scale(0);
                                                }
                                                40% {
                                                    transform: scale(0);
                                                }
                                                60% {
                                                    transform: scale(1.9);
                                                }
                                                70% {
                                                    transform: scale(1.65);
                                                }
                                                80% {
                                                    transform: scale(1.9);
                                                }
                                                90% {
                                                    transform: scale(1.69);
                                                }
                                                100% {
                                                    transform: scale(1.7);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .as-dots-wrapper {
                            .swiper-bullets {
                                bottom: 0;
                                .swiper-pagination-bullet {
                                    margin-right: 10px;
                                    &:last-child {
                                        margin-right: 0;
                                    }
                                }
                            }
                        }
                        .as-arrows-control {
                            .as-prev, .as-next {
                                transition: background-color .2s ease;
                                background-color: rgba(0,0,0,0);
                                .custom_icon {
                                    line-height: 1.4;
                                }
                                &:hover {
                                    background-color: rgba(0,0,0,0.1);
                                }
                                @media (max-width:768px) {
                                    top: unset;
                                    bottom: 0;
                                    height: auto;
                                }
                            }
                        }
                    }
                    &.productCarousel {
                        .swiper-container {
                            @media (min-width:768px) {
                                overflow: visible;
                            }
                            .swiper-wrapper {
                                padding: 50px 0;
                                .swiper-slide {
                                    .as_slide_image_wrapper {
                                        align-self: center;
                                    }
                                    @media (min-width:768px) {
                                        //-webkit-perspective: 200px;
                                        //perspective: 200px;
                                        .as_slide_image_wrapper {
                                            //-webkit-transform: rotateY(15deg) scale(0.8);
                                            //transform: rotateY(15deg) scale(0.8);
                                            -webkit-transform: scale(0.8);
                                            transform: scale(0.8);
                                            transition: transform 0.4s linear;
                                        }
                                        .as_slide_content_wrapper {
                                            z-index: 1;
                                            transform: translateY(-30px) scale(0.8);
                                            transition: transform 0.4s linear;
                                        }
                                        &.swiper-slide-next {
                                            //-webkit-perspective: 200px;
                                            //perspective: 200px;
                                            .as_slide_image_wrapper {
                                                //-webkit-transform: rotateY(-20deg) scale(0.9);
                                                //transform: rotateY(-20deg) scale(0.9);
                                                -webkit-transform: scale(0.9);
                                                transform: scale(0.9);
                                            }
                                            .as_slide_content_wrapper {
                                                z-index: 1;
                                                transform: translateY(-20px) scale(0.9);
                                            }
                                        }
                                        &.swiper-slide-next + .swiper-slide {
                                            //-webkit-perspective: 200px;
                                            //perspective: 200px;
                                            .as_slide_image_wrapper {
                                                //-webkit-transform: rotateY(-15deg) scale(0.8);
                                                //transform: rotateY(-15deg) scale(0.8);
                                                -webkit-transform: scale(0.8);
                                                transform: scale(0.8);
                                            }
                                            .as_slide_content_wrapper {
                                                z-index: 1;
                                                transform: translateY(-30px) scale(0.8);
                                            }
                                        }
                                        &.swiper-slide-prev {
                                            //-webkit-perspective: 200px;
                                            //perspective: 200px;
                                            .as_slide_image_wrapper {
                                                //-webkit-transform: rotateY(20deg) scale(0.9);
                                                //transform: rotateY(20deg) scale(0.9);
                                                -webkit-transform: scale(0.9);
                                                transform: scale(0.9);
                                            }
                                            .as_slide_content_wrapper {
                                                z-index: 1;
                                                transform: translateY(-20px) scale(0.9);
                                            }
                                        }
                                        &.swiper-slide-active {
                                            //-webkit-perspective: 0;
                                            //perspective: 0;
                                            .as_slide_image_wrapper {
                                                //-webkit-transform: rotateY(0deg) scale(1.3);
                                                //transform: rotateY(0deg) scale(1.3);
                                                -webkit-transform: scale(1.3);
                                                transform: scale(1.3);
                                            }
                                            .as_slide_content_wrapper {
                                                z-index: 1;
                                                transform: translateY(0) scale(1);
                                            }
                                        }   
                                    }
                                }
                            }
                        }
                        .as-arrows-control {
                            .as-prev {
                                @media (min-width:768px) {
                                    left: -2.5%;
                                }
                                //-webkit-clip-path: polygon(0 0, 100% 2%, 100% 98%, 0 100%);
                                //clip-path: polygon(0 0, 100% 2%, 100% 98%, 0 100%);
                            }
                            .as-next {
                                @media (min-width:768px) {
                                    right: -2.5%;
                                }
                                //-webkit-clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 98%);
                                //clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 98%);
                            }
                        }
                        &.links {
                            .swiper-container {
                                .swiper-wrapper {
                                    .swiper-slide {
                                        cursor: pointer;
                                        .as_slide_image_wrapper {
                                            /*&::before {
                                                @include ease2();
                                                @include absCenter();
                                                content: "View";
                                                display: block;
                                                color: $white;
                                                width: 100%;
                                                text-align: center;
                                                z-index: 1;
                                                font-weight: 500;
                                                letter-spacing: 2px;
                                                text-transform: uppercase;
                                                opacity: 0;
                                            }*/
                                            .et_pb_image_wrap {
                                                img {
                                                    @include ease2();
                                                }
                                                
                                            }
                                        }
                                        &:hover {
                                            .as_slide_image_wrapper {
                                                /*&::before {
                                                    opacity: 1;
                                                    filter: blur(0px);
                                                }*/
                                                .et_pb_image_wrap {
                                                    img {
                                                        opacity: 0.8;
                                                    }   
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .signPosts {
                    .et_pb_column {
                        .et_pb_text {
                            h1{
                                font-size: 30px;
                            }
                        }
                    }
                }
                .imgSignPosts {
                    .et_pb_column {
                        .et_pb_text {
                            opacity: 0.7;
                            transition: opacity 0.2s ease;
                            h1, h2, h3 {
                                padding-bottom: 0;
                            }
                        }
                        &:hover {
                            .et_pb_text {
                                opacity: 1;
                            }
                        }
                    }
                }
                .et_pb_contact_form_container {
                    color: $black;
                    font-weight: 400;
                    margin-bottom: 20px;
                    .et-pb-contact-message {
                        > ul {
                            margin-top: 10px; 
                        }
                        ul {
                            font-weight: 300;
                            color: $drk;
                        }
                    }
                    .et_pb_contact {
                        .et_pb_contact_form {
                            .et_pb_contact_field {
                                .input {
                                    @include ease2();
                                    &::placeholder {
                                        @include ease2();
                                        color: $drk;
                                    }
                                    &:focus {
                                        border-color: $black;
                                        &::placeholder {
                                            border-color: $black;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .et_pb_accordion {
                    .et_pb_toggle.et_pb_accordion_item {
                        .et_pb_toggle_title {
                            &::before {
                                transition: transform 0.2s ease;
                            }
                        }
                        &.et_pb_toggle_open {
                            .et_pb_toggle_title {
                                &::before {
                                    display: block;
                                    font-family: ETmodules!important;
                                    font-weight: 400!important;
                                    content: "\33"!important;
                                    transform: rotate(180deg);
                                }
                            }
                        }
                    }
                }
                #artist-list {
                    column-count: 3;
                    margin: auto;
                    padding: 0;
                    list-style: none;
                    column-gap: 5%;
                    column-fill: balance;
                    @media (max-width: 980px) {
                        column-count: 2;
                    }
                    @media (max-width: 767px) {
                        column-count: 1;
                    }
                    li {
                        a {
                            text-decoration: none;
                            transition: text-decoration 0.4s linear;
                            cursor: pointer;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
                #artists {
                    .searchWrapper {
                        background: $lgrey;
                        padding: 10px;
                        border-radius: 200px;
                        position: relative;
                        .search {
                            padding: 15px 60px 15px 30px !important;
                            height: auto;
                            border-radius: 100px;
                            min-height: 0;
                            appearance: none;
                            display: block;
                            margin: auto;
                            border: solid 1px $grey;
                            width: 100%;
                            font-size: 18px;
                            line-height: 30px;
                            &:focus {
                                border-color: $drk;
                                color: $black;
                            }
                        }
                        .clear {
                            @include vertCenter();
                            right: 30px;
                            display: none;
                            line-height: 0;
                            color: $grey;
                            @include ease2();
                            &:hover {
                                cursor: pointer;
                                color: $black;
                            }
                        }
                    }
                    ul.artists {
                        margin: 50px 0 0 0;
                        padding: 0;
                        list-style: none;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        align-items: stretch;
                        align-content: flex-start;
                        justify-content: space-between;
                        /*padding: 75px 0 0 0;
                        list-style: none;
                        @media only screen and (min-width: 981px) {
                            -moz-column-count:2;
                            -webkit-column-count:2;
                            column-count:2;
                            -moz-column-gap:10px;
                            -webkit-column-gap:10px;
                            column-gap:10px;
                        }
                        @media only screen and (min-width: 1201px) {
                            -moz-column-count:3;
                            -webkit-column-count:3;
                            column-count:3;
                            -moz-column-gap:20px;
                            -webkit-column-gap:20px;
                            column-gap: 20px;
                        }*/
                        li.artist {
                            width: 30%;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            justify-content: flex-start;
                            align-items: center;
                            margin-bottom: 10px;
                            @media (max-width:980px) {
                                width: 46%;
                            }
                            @media (max-width:767px) {
                                width: 100%;
                            }
                            /*text-align: center;
                            margin-bottom: 50px;
                            position: relative;
                            @media (min-width: 981px) {
                                text-align: left;
                                display: flex;
                                //align-items: center;
                                margin-bottom: 50px;
                            }*/
                            > *:first-child {
                                flex-shrink: 0;
                            }
                            .artistImg {
                                img {
                                    margin-right: 25px;
                                    width: 100px;
                                    @include ease2();
                                    -webkit-border-radius: 200px;
                                    -moz-border-radius: 200px;
                                    border-radius: 200px;
                                    &:hover {
                                        opacity: 0.5;
                                    }
                                }
                            }
                            .artistDetails {
                                ///display: inline;
                                .artistName {
                                    font-size: 30px;
                                    padding-bottom: 5px;
                                }
                                .artistContent {
                                    color: $drk;
                                }
                            }
                        }
                    }
                    .artistModal {
                        display: none;
                        @include absCenter();
                        position: fixed;
                        padding: 2em;
                        background: $white;
                        z-index: 3;
                        border: solid 1px #000000;
                        width: 60%;
                        max-height: 80vh;
                        overflow-y: scroll;
                        overflow-x: hidden;
                        &::-webkit-scrollbar {
                            display: none;
                        }
                        -ms-overflow-style: none;
                        scrollbar-width: none;
                        @media (max-width: 767px) {
                            width: 98%;
                        }
                        .excerpt {
                            color: $drk;
                            font-size: 18px;
                            margin-bottom: 15px;
                            font-weight: 500;
                        }
                        .artistLinks {
                            margin-bottom: 15px;
                            display: flex;
                            flex-wrap: nowrap;
                            flex-direction: row;
                            align-content: center;
                            justify-content: flex-start;
                            align-items: center;
                            img {
                                height: 20px;
                                margin-right: 15px;
                                @include ease2();
                                &:hover {
                                    opacity: 0.7;
                                }
                            }
                        }
                        .closeArtist {
                            position: absolute;
                            top: -1px;
                            right: -1px;
                            line-height: 0;
                            padding: 5px;
                            border: solid 1px $black;
                            color: $white;
                            background: $black;
                            @include ease2();
                            &:hover {
                                background: transparent;
                                color: $black;
                            }
                        }
                    }
                    .artistOverlay {
                        display: none;
                        background: rgba(0,0,0,0.6);
                        backdrop-filter: blur(4px);
                        position: fixed;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        width: 100%;
                        height: auto;
                        z-index: 2;
                    }
                }
                /*.overlay {
                    &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        height: 100%;
                        width: 100%;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background: url(/wp-content/uploads/2021/06/overlay.png) repeat;
                    }
                }*/
                /*.cwp_et_pb_layout_slider_standard {
                    .swiper-container {
                        .as-arrows-control {
                            .as-prev, .as-next {
                                transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
                                line-height: 1.2;
                                .custom_icon {
                                    transition: color 0.2s ease-in-out;
                                    line-height: 1;
                                }
                                &:hover {
                                    background-color: $primary1;
                                    .custom_icon {
                                        color: $primary3;
                                    }
                                }
                            }
                            .as-next {
                                .custon_icon_next {
                                    line-height: 1;
                                }
                            }
                            .as-prev {
                                .custon_icon_prev {
                                    line-height: 1;
                                }
                            }
                        }
                    }
                    &.carousel {
                        .swiper-container {
                            padding-top: 60px;
                            .as-arrows-control {
                                .as-prev, .as-next {
                                    top: 0;
                                    right: 0;
                                }
                                .as-prev {
                                    right: 50px;
                                    left: initial;
                                }
                            }
                        }
                    }
                    &.white {
                        .swiper-container {
                            .as-arrows-control {
                                .as-prev, .as-next {
                                    background-color: $white;
                                    &:hover {
                                        background-color: $primary1;
                                        .custom_icon {
                                            color: $primary3;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &#fpSlider {
                        .swiper-container {
                            .as-arrows-control {
                                .as-next {
                                    line-height: 1.2!important;
                                    .custon_icon_next {
                                        line-height: 1.2!important;
                                        .custom_icon {
                                            line-height: 1.2!important;
                                        }
                                    }
                                }
                                .as-prev {
                                    line-height: 1.2!important;
                                    .custon_icon_prev {
                                        line-height: 1.2!important;
                                        .custom_icon {
                                            line-height: 1.2!important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.svgCarousel {
                        .swiper-container {
                            .swiper-wrapper {
                                .swiper-slide {
                                    .as_slide_image_wrapper {
                                        .as_slide_image {
                                            .et_pb_image_wrap {
                                                img {
                                                    height: 100px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        } 
                    }
                    &.clientCarousel {
                        .swiper-container {
                            .swiper-wrapper {
                                .swiper-slide {
                                    .as_slide_image_wrapper {
                                        filter: grayscale(1);
                                        opacity: 0.2;
                                        transition: opacity 0.2s ease-in-out, filter 0.2s ease-in-out;
                                        margin: auto;
                                        @media (max-width: 767px) {
                                            width: 80%;
                                        }
                                        &:hover {
                                            filter: grayscale(0);
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }*/
            }
            @import 'footer';
        }
    }
    .et_pb_scroll_top {
        border-radius: 0!important;
        background: $primary1!important;
        transition: opacity 0.2s linear;
        &:hover {
            opacity: 0.7;
        }
    }
}
.mfp-wrap {
    .mfp-container {
        &.mfp-image-holder {
            .mfp-content {
                .mfp-figure {
                    figure {
                        figcaption {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
/* POPUP MAKER */
.pum {
	&.pum-theme-content-only {
		.pum-container {
			.pum-close {
				@include ease2();
                letter-spacing: 1px;
                font-family: "Agency FB",sans-serif;
				&:hover {
					background-color: $white;
					color: $black;
				}
			}
			.pum-content {
				.et_pb_newsletter_form {
					.et_pb_newsletter_button {
						&.et_pb_button_text_loading {
                            background-color: $black !important;
                        }
                    }
				}		
			}
		}
	}
}
.grecaptcha-badge { visibility: hidden!important; }
// COMPLIANZ COOKIE PLUGIN
.cmplz-cookiebanner .cmplz-categories .cmplz-category .cmplz-banner-checkbox input.cmplz-consent-checkbox:focus + .cmplz-label:before {
    box-shadow: 0 0 0 2px #000000!important;
}
@import 'woocommerce';